:root{
    --first-color: #e9b72f;
    --first-gradient: linear-gradient(310deg, #e9b72f, #eec962);
    --second-color: #e9892f;
    --second-gradient: linear-gradient(310deg, #e9892f, #e6a95a);
    --third-color: #185e03;
    --third-gradient: linear-gradient(120deg, #155302, #2d7418);  
}

*{
    font-family: 'Noto Sans', sans-serif;
}
body{
    overflow-x: hidden;
}

.bg-first{
    background: var(--first-gradient);
}

.bg-footer{
    background: #0e3601;
}

.header{
    height: 40vh;
    background: var(--first-gradient);
    border-radius: 0 0 30px 30px;
    position: relative;
}

.header-img{
    position: absolute;
    right: 10px;
    bottom:-12vh;
}

.subtitle{
    display: inline-block;
    border-bottom: 4px solid var(--first-color);
    padding-bottom: 7PX;
}

.card-cs{
    width: 270px;
    height: 270px;
    border-radius: 10px;
    background: var(--first-gradient);
    position: relative;
    overflow: hidden;
}

.card-cs img{
    position: absolute;
    width: 100%;
    border-radius: 10px;
    top: 0px;
    transition: 0.4s;
    // left: -10px;
}

.card-cs:hover  img{
    top: -150px;
}

.card-cs button{
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: var(--third-color);
    border-radius: 50%;
    top: 10px;
    left: 10px;
}

.card-text{
    position: absolute;
    bottom: -50px;
    transition: 0.4s;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.164));
}

.card-cs:hover .card-text{
    bottom: 0;
}

.card-text .description{
    opacity: 0;
    transition: 0.4s;
}

.card-cs:hover .card-text .description{
    opacity: 1;

}

.form-section{
background: var(--third-gradient);
border-radius: 20px 20px 0 0;
}

#map{
    width: 100%;
    height: 100%;
    min-height: 50vh;
    border-radius: 15px;
}

.search-bar input{
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 40px;
  position: relative;
  outline: 0;
}

.search-bar{
    margin-top: -30px;
}

.search-bar button{
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border:0;
    background: transparent;
    color: #3f3f3f;
    right: 20px;
    outline: 0;
    
}

.search-bar button:hover{
    color: #585858;
    right: 20px;
    outline: 0;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.158)); 
}

.form-custom{
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 40px;
    outline: 0;
    background: #ffffffc0;
    position: relative;
}

textarea.form-custom{
  min-height: 100%;
}

.file-custom{
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 40px;
    outline: 0;
    background: #e9b72fc5;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.file-custom:hover{
    cursor: pointer
}

.form-card{
    z-index: 2;
    border-radius: 15px 15px 0 0;
    background: var(--second-color);
    // backdrop-filter: blur(7px);
    border: 2px solid rgba(255, 255, 255, 0.13);
}

// .form-card::after{
//     content: "";
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #ffffff3b;
//     border-radius: 15px;
//     box-shadow: inset 0 0 2000px rgba(209, 152, 30, 0.5);
//     z-index: -999;
//     background: inherit;
// }

.curved-border{
    border-radius: 15px;
}

